.container {
  display: flex;
  flex-direction: row;
}

.commentContainer {
  height: 60px;
  overflow-y: scroll;
}

.openIcon {
  transform: rotate(0deg);
}

.closedIcon {
  transition: tranform 2500ms ease-in-out;
  transform: rotate(-90deg);
}
