.container {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.commentContainer {
  text-align: justify;
  padding: 0px 15px 0px 0px;
}

.collapsed {
  max-height: 20px;
  overflow-y: hidden;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

.expanded {
  max-height: 10000px;
  transition: max-height 0.8s cubic-bezier(0, 1, 0, 1);
}

.toggleButton {
  display: flex;
  justify-content: flex-start;
  margin-right: 7px;
}

.openIcon {
  transform: rotate(0deg);
}

.closedIcon {
  transition: tranform 2500ms ease-in-out;
  transform: rotate(-90deg);
}
