.tableContainer {
  width: 100%;
}

.table {
  border-left: 1px solid var(--color-light-gray);
  border-right: 1px solid var(--color-light-gray);
  width: calc(100% - 2px);
}

.theader,
.tdata {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 50px;
  font: var(--font-body-medium-poppins);
  border-bottom: 1px solid var(--color-light-gray);
  text-align: left;
}

.theader {
  background-color: var(--color-background-gray);
}
