.container {
  width: 100%;
  height: 100%;
  text-align: left;
  font: var(--font-body-large-mulish);
}

.header {
  width: calc(100% - 24px);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-gray);
  padding: 12px;
}

.scrollContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.files {
  min-width: fit-content;
}

.fileHeader {
  background-color: var(--color-background-gray);
  display: flex;
  width: calc(100% - 40px);
  padding-left: 40px;
  justify-content: flex-start;
}

.scrollContainer {
  overflow: auto;
  width: 100%;
  height: fit-content;
}

.line {
  font-family: 'Roboto Mono', monospace;
  white-space: pre;
  min-width: fit-content;
}

.addition {
  background-color: var(--color-background-green);
}
