.headerDiv {
  width: calc(100% - 72px);
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  padding: 0px 36px;
}

.logo {
  width: 36px;
  height: 36px;
}

.appName {
  margin-left: 5px;
  color: #ffffff;
  font: var(--font-header-medium-poppins);
}

.homeLink {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.hamburgerMenu,
.hamburgerMenuIcon {
  width: 24px;
  height: 24px;
}
