div {
  background-color: var(--color-header);
  right: 0;
  padding: 2px 12px;
}

img {
  display: inline;
  float: left;
  padding-top: 10px;
  padding-right: 5px;
}

h1 {
  color: #ffffff;
  font: var(--font-header);
}

.hamburgerMenu {
  cursor: pointer;
  float: left;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.hamburgerMenu img {
  width: 30px;
  height: 30px;
  padding-top: 20px;
  margin-right: 10px;
}

.hamburgerIcon {
  height: 30px;
  width: 30px;
}
