.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font: var(--font-header-medium-poppins);
  margin: 22px 0 25px;
}

.tableContainer {
  width: 85%;
}

.table {
  border-top: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);
}

.theader,
.data {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  font: var(--font-body-medium-poppins);
  border-bottom: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
}

.theader {
  background-color: var(--color-background-gray);
}
