:root {
  --color-main: black;
  --color-header: #364fc7;
  --color-text-header: #e9ecef;
  --color-text-body: black;
  --color-button-hover: #4263eb;
  --font-header: 400 20px Poppins;
  --font-title: 500 72px Poppins;
  --font-button: 400 26px Poppins;
  --font-button-sm: 400 16px Poppins;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
