:root {
  --color-primary: #364fc7;
  --color-primary-hover: #E0EAFF;
  --color-secondary: #ffa94d;
  --color-hover: #e0eaff;
  --color-button-hover: #4263eb;
  --color-gray: #999cae;
  --color-light-gray: #d6d5d5;
  --color-background-gray: #eeeeee;
  --color-background-green: #ecfdf0;
  --color-background-red: #ffc9c9;
  --color-text-red: #c21c1c;
  --color-text-green: #279456;

  --font-title-poppins: 400 58px Poppins;
  --font-header-large-poppins: 400 32px Poppins;
  --font-header-medium-poppins: 400 24px Poppins;
  --font-header-small-poppins: 400 18px Poppins;
  --font-body-large-poppins: 400 16px Poppins;
  --font-body-medium-poppins: 400 14px Poppins;
  --font-body-small-poppins: 400 12px Poppins;

  --font-header-medium-mulish: 600 24px Mulish;
  --font-body-large-mulish: 400 16px Mulish;
  --font-body-small-mulish: 400 12px Mulish;

  --height-header: 72px;
  --width-sideNav: 230px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Poppins;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input {
  font: inherit;
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}
