:root {
  --color-main: #000000;
  --color-header: #364fc7;
  --color-text-header: #e9ecef;
  --color-text-body: #000000;
  --color-button-hover: #4263eb;
  --color-input-background: #dfdfdf;
  --color-primary: #074ee8;
  --color-secondary: #ffa94d;
  --color-table-header-background: #eeeeee;
  --color-table-border: #aaaaaa;
  --color-darkgray: #c4c4c4;
  --color-lightgray: #d6d5d5;
  --color-lightblue: #dbe4ff;
  --color-text-lightgray: #9fa2b4;
  --font-title: 500 72px Poppins;
  --font-sub-title: 400 58px Poppins;
  --font-header: 400 24px Poppins;
  --font-sub-header: 400 18px Poppins;
  --font-item-label: 400 16px Poppins;
  --font-stat-label: 400 16px Mulish;
  --font-stat-value: 600 24px Mulish;
  --font-small: 400 14px Poppins;
  --font-button: 400 26px Poppins;
  --header-height: 72px;
  --sidenav-width: 230px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
}

#root {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font: inherit;
}
