.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.splashImg {
  padding-top: 10%;
}

.loginButton {
  font: var(--font-button);
  color: var(--color-text-header);
  background-color: var(--color-header);
  margin-top: 15px;
  padding: 5px 50px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.loginButton:hover {
  cursor: pointer;
  background-color: var(--color-button-hover);
}

@media only screen and (max-width: 780px) {
  .loginButton {
    padding: 3px 40px;
    margin-top: 15px;
  }
}
