.container {
  display: flex;
  flex-direction: column;
}

.title {
  font: var(--font-title-poppins);
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.button {
  font: var(--font-header-medium-poppins);
  color: #ffffff;
  background-color: var(--color-primary);
  margin-top: 15px;
  padding: 5px 0px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 300px;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-button-hover);
}

.fieldHeader {
  font: var(--font-body-large-poppins);
  width: 300px;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.field {
  width: 270px;
  height: 40px;
  padding: 1px 15px;
  border: 0px;
  background-color: var(--color-background-gray);
  margin-bottom: 10px;
  font: var(--font-body-medium-poppins);
}

.error {
  border-radius: 5px;
  background-color: var(--color-background-red);
  color: var(--color-text-red);
  width: 300px;
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 3px 0px;
}
