.button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: border 120ms ease-out, background-color 230ms ease-out;
  font: var(--font-body-large-poppins);
}

.button:hover {
  background-color: var(--color-background-red);
  border-left: 4px solid var(--color-text-red);
}

.icon {
  margin-right: 15px;
}
