.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 538px;
}

.config {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(14% - 10px);
  min-width: 140px;
  background-color: var(--color-background-gray);
}

.configHeader {
  border-bottom: 1px solid #ffffff;
  text-align: left;
  width: calc(100% - 20px);
  margin: 0;
  padding: 5px 10px;
  font: var(--font-body-large-poppins);
}

.category {
  margin: 11px 0 7px 10px;
}

.option {
  margin-bottom: 5px;
  margin-left: 10px;
  font: var(--font-body-large-poppins);
}

.statsContainer {
  display: flex;
  width: 100%;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  height: auto;
}

.graph {
  width: 100%;
}

.stats {
  width: 30%;
}
