.container {
  min-height: calc(100% - 100px);
  /* min-height: 100%; */
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  font-weight: normal;
  font-size: 32px;
  margin: 50px 0 40px;
}

.summaryContainer {
  display: flex;
  width: 85%;
  height: auto;
  margin: auto;
}

.memberContainer {
  display: flex;
  width: 58%;
  height: auto;
  margin: auto;
}
