.selectorHeaders {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
  position: relative;
}

.selectorHeaders button {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
  transition: border 0.2s ease-in-out 0s;
}

.selectorHeaders button.active,
.selectorHeaders button:focus,
.selectorHeaders button:hover {
  border-width: 1px;
  border-color: #e9ecef #e9ecef var(--color-header);
}

.selectorHeaders button.active {
  color: #495057;
  background-color: #f8f8f8;
}

.selectorBody {
  text-align: left;
  padding: 1rem;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 2px rgb(204 204 204 / 75%);
}
