.selectorTabHeaders {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.activeTabHeader,
.inactiveTabHeader {
  font: var(--font-body-large-poppins);
  width: 250px;
}

.activeTabHeader {
  color: var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
  padding: 15px 0;
}

.inactiveTabHeader {
  border-bottom: 2px solid var(--color-light-gray);
  padding: 15px 0 16px;
}
