.item {
  display: flex;
  align-items: center;
  padding: 1px 20px;
}

.item:hover {
  background-color: var(--color-lightblue);
  text-decoration: none;
  border-left: 4px solid blue;
}

.item:hover .label {
  color: var(--color-header);
}

.icon {
  margin-right: 15px;
}

.link {
  font: var(--font-item-label);
  color: var(--color-main);
  text-decoration: none;
}

.link:visited {
  color: var(--color-main);
}
