.sideNav {
  border-right: 1px solid var(--color-light-gray);
  background-color: #ffffff;
  overflow: visible;
}

.scrollContainer {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.scrollContainer::-webkit-scrollbar {
  width: 5px;
}

.scrollContainer::-webkit-scrollbar-track {
  background-color: var(--color-background-gray);
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: var(--color-light-gray);
}

.closeSideNavButton {
  position: absolute;
  transform: translateX(50%);
  right: 0;
  top: 40%;
  width: 40px;
  height: 40px;
  background-color: var(--color-background-gray);
  font: var(--font-header-medium-poppins);
  border-radius: 20px;
}

.closeSideNavButton:hover {
  background-color: var(--color-light-gray);
}
