.subHeader {
  border-bottom: 1.5px solid var(--color-gray);
  padding: 0px 5px;
  border-spacing: -1px;
  margin: 0px 0px 5px 0px;
  font: var(--font-body-medium-poppins);
}

.inputField {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.dateContainer {
  margin-bottom: 10px;
}

.dateInput {
  width: 170px;
  font: var(--font-body-medium-poppins);
}

.label {
  padding-left: 5px;
  font: var(--font-body-medium-poppins);
}

.header {
  background-color: var(--color-background-gray);
  padding: 0px 10px;
  margin: 8px 0px;
  height: 28px;
  display: flex;
  align-items: center;
  width: 100%;
  font: var(--font-body-medium-poppins);
}

.editIcon {
  margin-right: 5px;
}
