.container {
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 500px;
}

.header {
  font: var(--font-header-medium-poppins);
}

.selectorContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputColumn {
  width: 150px;
}

.table {
  max-width: 1000px;
  width: 100%;
}

.row {
  margin: 12px 0;
}

.skinnyRow {
  margin: 2px 0;
}

.generalInput {
  height: 28px;
  border: 2px solid var(--color-gray);
  border-radius: 4px;
  padding: 0px 10px;
}

.shortInput {
  width: 60px;
}

.mediumInput {
  width: 85px;
}

.longInput {
  width: 200px;
}

.end {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.delete {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.addContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.addButton {
  margin-left: 10px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  text-align: center;
  color: var(--color-primary);
  padding: 0 5px;
}

.addButton:disabled {
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
}

.warningContainer {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.warningIcon {
  margin-right: 10px;
}

.saveButton {
  margin-top: 10px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  text-align: center;
  color: var(--color-primary);
  padding: 5px;
}
